/* IMGS SLIDER */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

#about {
    background-image: url(./about.png);
    min-height: 100vh;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

#services {
    /* background-image: url('https://img.freepik.com/free-photo/grey-geometrical-shapes-background_23-2148811539.jpg?w=1380&t=st=1682375938~exp=1682376538~hmac=c30ab394f25ce68e9d3c8aeab600b03314e5042cd3a8b38683015404828a7de9');
    background-attachment: fixed; */
    background-color: #222;
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#services .card {
    width: 22rem;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 300;
    padding: 20px;
}

#services .card:hover {
    box-shadow: 3px 3px 10px #696969, -3px 3px 10px #696969;
}

#services .img-card {
    height: 12rem;
    border-radius: 7px;
}

#services .img-card:hover {
    transform: scale(1.1);
}

#services .btn {
    border-radius: 32px;
    background-color: #fff;
    color: #0e0e0e;
    border: none;
}

#services .card-body {
    padding-left: 0;
}

/* #services a {
    text-decoration: none;
    text-align: center;
}

#services p {
    color: #fff;
    width: 200px;
    font-size: small;
    font-weight: 200;
}

#services .icon {
    font-size: 4em;
    color: #fff;
    margin-bottom: 20px;
} */


#products {
    background-image: url('https://img.freepik.com/free-photo/acryllic-color-dissolving-water_53876-98233.jpg?w=740&t=st=1681879584~exp=1681880184~hmac=05ee6503d2a043cde1f49f058a5b5bd4c9d9db545a2ff6b0b566a32a6aa6a63c');
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

#contact {
    background-image: url('https://img.freepik.com/free-photo/bright-pink-hazy-cloud_23-2148102363.jpg?w=740&t=st=1681892685~exp=1681893285~hmac=a6425af1a15668aefe9ac99a48915fd1d18ca1dfa4dbc90c7b9afe6b582251db');
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* " navbar " */
header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    /* background-color: transparent; */

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255 0));
    /* -webkit-backdrop-filter: blur(35px); */
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* " logo " */
header .brand {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;
}

/* " nav links " */
header .navigation .navigation-items a {
    position: relative;
    color: #9b9b9b;
    font-size: small;
    font-weight: 400;
    text-decoration: none;
    margin-left: 70px;
    transition: 0.3s ease;
}

.navigation .navigation-items a:hover {
    color: white;
    transition: 0.5s;
}

/* " subrayado " */
header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #ffffff;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}



/* " slider" */
section {
    padding: 100px 200px;
}

/* " transición " */
.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #000000f1;

    height: 500px;
    overflow: hidden;
}

.home:before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* " contenido texto encima del slide " */
.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active {
    display: block;
}

.home .content h1 {
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 95px;
    margin-bottom: 10px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 300;
}

.home .content p {
    margin-bottom: 65px;
}

/* " botón " */
.home .content a {
    background: #fff;
    padding: 15px 35px;
    color: #222;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 32px;
}

.home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a {
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.home .media-icons a:hover {
    transform: scale(1.3);
}

.home img {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* " puntitos del slider " */
.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
    background: #222;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 30px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}

.image-slide {
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: auto;
}

.image-slide.active {
    opacity: 1;
}

.image-slide.previous {
    opacity: 0;
}

/* " end slider" */


@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    #services {
        background-attachment: fixed;
        min-width: 100%;
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }

    .home .media-icons {
        right: 15px;
    }

    .home img {
        /* z-index: 000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; */
        background-attachment: fixed;
        min-width: 100%;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.4);
    }

    header .navigation .navigation-items a {
        color: #9b9b9b;
        font-size: 1.3em;
        font-weight: 400;
        margin: 15px;
        top: -2rem;
    }

    .navigation .navigation-items a:hover {
        color: white;
        transition: 0.5s;
    }

    header .navigation .navigation-items a:before {
        background: white;
        height: 2px;
    }

    /* " cajita menú responsive " */
    header .navigation.active .navigation-items {
        /* background: #fffffff3;
        width: 600px;
        max-width: 600px;
        margin: 50px;
        height: 400px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%); */

        position: fixed;
        top: 0;
        left: 0;
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* gap: 0rem; */
        background-color: black;
    }

    .menu-btn {
        background: url(menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .close-btn {
        background: url(close.png)no-repeat;
        position: fixed;
        bottom: 38%;
        left: 50%;
        transform: translateX(-50%);
        width: 33px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }


}

@media (max-width: 560px) {
    .home .content h1 {
        font-size: 2.2em;
        line-height: 60px;
        font-weight: 600;
    }

    .home .content h1 span {
        font-size: 1em;
        font-weight: 300;
    }
}